.app.dark {
    background-color: #111;
    color: rgb(255, 255, 255);
  
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  
    .table {
      background-color: #111;
  
      .tableCell {
        color: rgb(208, 208, 208);
      }
    }
  
    .navbar {
      color: #bebebe;
      border-color: #333;
  
      .search {
        border-color: gray;
      }
    }
  
    .sidebar {
      background-color: #111;
      border-color: #333;
  
      .top {
        .logo {
          color: #d7d7d7;
        }
      }
      hr {
        border-color: #333;
      }
  
      ul {
        li {
          &:hover {
            background-color: #333;
          }
  
          .icon {
            color: #cdcdcd;
          }
        }
      }
    }
  
    .datatable {
      .datagrid {
        color: rgb(255, 255, 255);
        border: none;
  
        .viewButton,
        .deleteButton,
        .cellWithStatus {
          color: rgb(226, 226, 226);
          border: none;
        }
      }
    }
  
    input{
        background-color: transparent;
    }
  }